@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#boxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#apiListContainer {
  font-family: "Pretendard-Regular";
}
.section {
  border-bottom: 1px solid #243f72;
  display: flex;
  margin-top: 30px;
}

.tab {
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: gray;
  color: #243f72;
}

.tab a {
  text-decoration: none;
  color: #243f72;
}

.tab.active {
  border: 1px solid #243f72;
  border-bottom: 1px solid white;
  background-color: white;
  font-weight: bold;
}

.tab.inactive {
  border: 1px solid #ddd;
  margin-left: 10px;
  background: #f7f7f7;
}

.filterContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.person select {
  width: 200px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #243f72;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #243f72;
  margin-right: 30px;
}

.method select {
  width: 200px;
  height: 40px;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #243f72;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #243f72;
}
