.outerDiv {
    max-width: 600px;
    width: 80%;
    height: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #efcb00;
    border-radius: 10px;
}

.innerDiv {
    width: 100%;
    padding: 0;
}


h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 8px 15px;
    font-size: medium;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #cdcdcd;
}

table {
    margin: auto;
}

td {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

label {
    display: inline-block;
    margin-bottom: 7px;
    font-size: larger;
}

input {
    width: 200px;
    height: 25px;
}

input#image {
    width: 470px;
    height: 25px;
}

textarea {
    width: 470px;
    height: 60px;
    resize: vertical;
    overflow: auto;
}

h1 {
    text-align: center;
    margin: 40px;
}

body {
    font-size: large;
}