.section2 {
  border-bottom: 1px solid #243f72;
  display: flex;
  margin-top: 30px;
}

.tab2 {
  width: 180px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: gray;
  color: #243f72;
}

.tab2 a {
  text-decoration: none;
  color: #243f72;
}

.tab2.active {
  border: 1px solid #243f72;
  border-bottom: 1px solid white;
  background-color: white;
  font-weight: bold;
  margin-left: 10px;
}

.tab2.inactive {
  border: 1px solid #ddd;
  background: #f7f7f7;
}
.container {
  text-align: left;
}

.detailRow {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.detailImageContainer {
  padding: 20px 30px;
  flex-shrink: 0;
}

.detailTextContainer {
  flex-grow: 1;
  text-align: left;
}

.detailTextRow {
  margin-bottom: 10px;
}

.detailLabel {
  font-weight: bold;
  margin-right: 10px;
}

.addButton2 {
  position: absolute;
  top: 36px;
  right: 20px;
  padding: 8px 15px;
  margin-right: 70px;
  cursor: pointer;
}

/* .addButton2 {
  position: absolute;
  top: 36px;
  right: 20px;
  padding: 8px 15px;
  font-size: medium;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #243f72;
  color: white;
} */

/* .addButton2:hover {
  background-color: #cdcdcd;
  color: black;
} */

.deleteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.deleteButton:hover {
  background-color: #ff1a1a;
}

.bookItem {
  position: relative;
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #243f72;
}

h6 {
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
  text-decoration: none;
}

.bookIntro {
  margin: 20px;
}

.detailTextContainer a {
  text-decoration: none;
  color: inherit;
}

.detailTextContainer a:hover {
  text-decoration: underline;
}
