#DetailContainerBox {
    margin-left: 20px;
    margin-right: 20px;
}

#detailFirstLine {
    border: 1px solid black;
}

#detailSecondLine {
    border: 2px solid #5bade2;
}

.detailRow {
    display: flex;
    align-items: center;
}

.detailImageContainer {
    margin-right: 20px;
}

.detailTextContainer {
    font-size: 16px;
}

.detailLabel {
    font-weight: bold;
}

.detailTextRow {
    margin-bottom: 10px;
}

#detailButtons {
    padding: 8px 15px;
    margin: 5px;
    font-size: medium;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#detailButtons:hover {
    background-color: #cdcdcd;
}

#detailButtonsLink {
    text-decoration: none;
    color: inherit;
}

#detailButtonsContainer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}