#DetailContainerBox {
    margin-left: 20px;
    margin-right: 20px;
}

#detailFirstLine {
    border: 1px solid black;
}

#detailSecondLine {
    border: 2px solid #5bade2;
}

.detailRow {
    display: flex;
    align-items: center;
}

.detailImageContainer {
    margin-right: 20px;
}

.detailTextContainer {
    font-size: 16px;
}

.detailLabel {
    font-weight: bold;
}

.detailTextRow {
    margin-bottom: 10px;
}

#detailButtonsLink {
    text-decoration: none;
    color: inherit;
}

#detailButtonsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}